<main>
    <section class="form-section">
        <img src="/assets/logo2.png" style="width: 250px;">
        <h2> {{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary" [disabled]="disablePrimaryBtn" (click)="submit()">{{primaryBtnText}}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
        </div>
        
    </section>
    <section class="main-section">
        <img src="/assets/logo2.png">

    </section>
</main>
